:root {
    --bg: rgb(245, 245, 245);
    --light: #eeeeee;
    --dark: #222831;
    --acc-p: #b39f72;
    --acc-s: #564a1c;
    --bg-p: #230321;
    --bg-s: #4a2858;
    --emph: #9a7eCe;
  }

 *{
    margin: 0;
    padding: 0;
  }

body{
    background-color: var(--acc-p);
}

#content{
    background-color: var(--bg);
    margin: auto;
    max-width: 85%;
}

header{
    background-color: #4a2858;
    color: var(--acc-p);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#language{
    max-width: 5rem;
    position: fixed; /* Fixe le bouton à une position précise sur l'écran */
    top: 10px; /* Distance depuis le haut */
    right: 10px; /* Distance depuis la droite */
    padding: 10px 20px;
    background-color: var(--acc-p); /* Bleu */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

#language:hover {
    background-color: var(--acc-s); /* Bleu foncé au survol */
}

nav{
    width: 100%;
    background-color: var(--emph);
    color: var(--dark);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour le distinguer */
    text-align: center;
    z-index: 1000; /* S'assure qu'il reste au-dessus des autres éléments */
}

nav a{
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    transition: background 0.3s ease;
    width: 100%;
}

nav a:hover{
    background-color: var(--bg-s);
    color: var(--emph);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 10px; /* Espacement entre les blocs */
    max-width: 900px; /* Largeur max de la galerie */
    margin: 2rem auto;
}

.gallery-item {
    width: 100%; /* S'adapte à la colonne */
    aspect-ratio: 4 / 3; /* Ratio 3:4 */
    background-color: var(--bg-p); /* Couleur de fond (modifiable) */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; /* Coins arrondis */
    transition: background 0.3s ease;
}

.gallery-item:hover{
    cursor: pointer;
    background-color: var(--bg-s);
}
